#createbox {
	width: 80%;
	height: 80%;
	border: 1px solid #aaa;
}

.rectblock {
	stroke-width:3;
	stroke:black;
	fill: white;
}

.block {
	position: absolute;
}

.block:hover {
	stroke-width: 5;
	/*stroke: ;*/

}

.selected {
	stroke: red;
}

#blockconfig {
	position: absolute;
	display: none;
	border: 1.2px solid grey;
	background-color: white;
	width: 20%;
	height: 10%;
}